.pointer {
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--text-color);
}

.icon:hover {
  background-color: var(--hover-color-icon);
}
