.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.button-radius-10 {
  border-radius: 10rem;
}

.button-radius-07 {
  border-radius: 0.7rem;
}

.no-border {
  color: var(--primary-color);
  font-weight: 500;
}

.button-active {
  background-color: var(--primary-light-color);
  font-weight: 600;
}

.contain {
  background-color: var(--primary-light-color);
  font-weight: 500;
}

.button-hover-bg-color:hover {
  background-color: #e6edfa;
}

.button-hover-shadow:hover {
  box-shadow: var(--shadow);
}

.button-shadow {
  box-shadow: var(--shadow);
}
.no-border:hover {
  background-color: var(--primary-light-color);
}
