.padding-container {
  padding: 1rem;
}

.padding-input{
  padding:5px  ;
  padding-right: 10%;
}
.padding-inputt{
  padding:10px ;
  /* padding-right: 10%; */
}

.pd-top-bottom-10px{
  padding-top:10px ;
  padding-bottom:10px ;
}

.margin-top-bottom-1rem {
  margin: 1rem 0;
}

.margin-right-04rem {
  margin-right: 0.4rem;
}

.margin-left-07rem {
  margin-left: 0.7rem;
}

.padding-top-bottom-1rem {
  padding: 1rem 0;
}

.gap {
  border: 30px;
}
